/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');


/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #4C516D;
  margin: 0 auto;
  font-family: "Poppins";
  padding: 0;
  box-sizing: border-box;
}
header {
  background: #272c4a;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
}
header a {
  color: #f1f1f1;
  text-decoration: none;
}
.pages{
  max-width: 1630px;
  padding: 10px;
  margin: 50px auto;
}

/* homepage */
.home-title{
  font-size: 30px;
  font-weight: 500;
  position: relative;
  color: #f1f1f1;
  margin-bottom: 50px;
  margin-left: 5px;
}
.home-title::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background: #D22B2B;
}

/* leadform.js */

.AddForm{
  display: flex;
  height: 70vh;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.EditForm{
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.create{
  max-width: 680px;
  width: 100%;
  background: #f1f1f1;
  padding: 25px 45px;
  border-radius: 30px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
  flex-direction: row
}

.create .title{
  font-size: 25px;
  font-weight: 600;
  position: relative;
  color: #D22B2B;
  margin-top: 25px;
}

.create .title::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background: #D22B2B;
}

.create .lead-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

.lead-details .input-box .details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.lead-details .input-box input:hover{
  background-color: #f1f1f1;
  border-color: #28282B;
}
.lead-details .input-box input:focus{
  background-color: #f1f1f1;
  border-color: #28282B;
}
.lead-details .input-box select:hover{
  background-color: #fff;
  border-color: #28282B;
}
.lead-details .input-box select:focus{
  background-color: #fff;
  border-color: #28282B;
}

.lead-details .input-box{
  margin: 20px 0 10px 0;
  width: calc(100% / 2 - 20px);
}

.lead-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
}

.lead-details .input-box select{
  height: 45px;
  width: 106%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  text-align: center;
  cursor: pointer;
}

.lead-details .input-box input:select,
.lead-details .input-box input:select{
  border-color: #ccc;
}

.input-box .submit {
  background: #D22B2B;
  border: 1px solid #ccc;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 5px;
  cursor: pointer;
  height: 45px;
  width: 60%;
  outline: none;
  font-size: 16px;
  margin: 30px 70px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
}
.input-box .submit:hover{
  background-color: #F40009;
  border-color: #F40009;
  font-weight: 600;
  color: #f1f1f1;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

input.error{
  border: 1px solid var(--error);
}

.back .fa-solid fa-arrow-left{
  color: #D22B2B;
  border-radius: 5px;
  padding: 8px 10px;
  margin: 0px;
}

/* lead table */

.add-button{
  text-decoration: none;
  background-color: #D22B2B;
  color: #f1f1f1;
  font-weight: 500;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
  border-radius: 20px;
  padding: 10px;
}
.add-button:hover{
  background-color: #F40009;
  border-color: #F40009;
  font-weight: 600;
  color: #f1f1f1;
}

.lead-table table thead tr th,
.lead-body table tbody tr td{
  min-width: 150px;
  padding: 7px;
  text-align: center;
  align-items: center;
  justify-content: center;
  max-width: 150px;
  font-size: 15px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
}

.lead-body table tbody tr td{
  background: #E5E4E2;
  position: relative;
}

.lead-table table thead tr{
  background-color: #272c4a;
  color: #f1f1f1;
  border-collapse: collapse;
}

/* leadAnswers.js */
.ID:hover{
  background-color: #f1f1f1;
  border-color: #f1f1f1;
  font-weight: 600;
}
.Name:hover{
  background-color: #f1f1f1;
  border-color: #f1f1f1;
  font-weight: 600;
}
.Type:hover{
  background-color: #f1f1f1;
  border-color: #f1f1f1;
  font-weight: 600;
}
.Phone:hover{
  background-color: #f1f1f1;
  border-color: #f1f1f1;
  font-weight: 600;
}
.City:hover{
  background-color: #f1f1f1;
  border-color: #f1f1f1;
  font-weight: 600;
}
.Email:hover{
  background-color: #f1f1f1;
  border-color: #f1f1f1;
  font-weight: 600;
}
.Date:hover{
  background-color: #f1f1f1;
  border-color: #f1f1f1;
  font-weight: 600;
}

.lead-table{
  margin-top: 5px;
  max-width: 680px;
}

.actionButtons button{
  border: 0;
  outline: none;
  background: #C41E3A;
  padding: 8px 10px;
  color: #f1f1f1;
  border-radius: 5px;
  cursor: pointer;
}
.actionButtons button:hover{
  background-color: #F40009;
  border-color: #F40009;
}

.actionButtons .fa-pen-to-square{
  background: #50C878;
  padding: 8px 10px;
  color: #f1f1f1;
  border-radius: 5px;
  margin: 0 10px;
  text-decoration: none;
}
.actionButtons .fa-pen-to-square:hover{
  background-color: #1B4D3E;
  border-color: #1B4D3E;
}

.actionButtons .fa-eye{
  background: #0047AB;
  padding: 8px 10px;
  color: #f1f1f1;
  border-radius: 5px;
  margin: 0 10px;
  text-decoration: none;
}
.actionButtons .fa-eye:hover{
  background-color: #00008B;
  border-color: #00008B;
}

/* home.js */

.home{
  margin-left: 150px;
  justify-content: center;
}
.search{
  margin-top: 50px;
}
.search table thead tr th{
  justify-content: space-between;
  background-color: #272c4a;
  max-width: 646px;
  min-width: 646px;
  border-collapse: collapse;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
  padding: 5px;
}
.search input{
  height: 25px;
  width: 50%;
  outline: none;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 16px;
  border-bottom-width: 2px;
  padding-left: 15px;
  box-shadow: 1px 2px 9px rgba(0, 0, 0, 0.095);
  margin-right: 250px;
}
.search input:hover{
  background-color: #f1f1f1;
  border-color: #1B1212;
}
.search p{
  margin-left: 500px;
  color: #f1f1f1;
}
.filter-sort{
  height: 30px;
  width: 10%;
  outline: none;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 16px;
  border-bottom-width: 2px;
  padding-right: 5px;
  text-align: center;
  margin-left: 920px;
  box-shadow: 1px 2px 9px rgba(0, 0, 0, 0.095);
  cursor: pointer;
}
.filter-sort2{
  height: 30px;
  width: 10%;
  outline: none;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 16px;
  border-bottom-width: 2px;
  padding-right: 5px;
  text-align: center;
  box-shadow: 1px 2px 9px rgba(0, 0, 0, 0.095);
  cursor: pointer;
}
.filter-sort:hover{
  background-color: #f1f1f1;
  border-color: #f1f1f1;
  font-weight: 600;
}
.filter-sort2:hover{
  background-color: #f1f1f1;
  border-color: #f1f1f1;
  font-weight: 600;
}

/* Pagination buttons */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.pagination button {
  background-color: #D22B2B; /* Background color */
  border: 1px solid #D22B2B; /* Border */
  border-radius: 5px;
  color: #fff; /* Text color */
  outline: none;
  cursor: pointer;
  font-size: 12px;
  margin: 0 4px; 
  padding: 8px 16px;
}

.pagination button:hover {
  background-color: #007d5c;
  border-color: #007d5c; 
}

.pagination .prev,
.pagination .next {
  background-color: #272c4a; 
  border-color: #272c4a; 
}

/* agenthome.js */

.agenthome{
  justify-content: center;
}

.agentsearch{
  margin-top: 50px;
}
.agentsearch table thead tr th{
  justify-content: space-between;
  background-color: #272c4a;
  max-width: 810px;
  min-width: 810px;
  border-collapse: collapse;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
  padding: 5px;
}
.agentsearch input{
  height: 25px;
  width: 40%;
  outline: none;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 16px;
  border-bottom-width: 2px;
  padding-left: 15px;
  box-shadow: 1px 2px 9px rgba(0, 0, 0, 0.095);
  margin-right: 420px;
}
.agentsearch input:hover{
  background-color: #f1f1f1;
  border-color: #1B1212;
}
.agentsearch p{
  margin-left: 690px;
  color: #f1f1f1;
}
.agent-filter-sort{
  height: 30px;
  width: 10%;
  outline: none;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 16px;
  border-bottom-width: 2px;
  padding-right: 5px;
  text-align: center;
  box-shadow: 1px 2px 9px rgba(0, 0, 0, 0.095);
  cursor: pointer;
}
.agent-filter-sort2{
  height: 30px;
  width: 10%;
  outline: none;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 16px;
  border-bottom-width: 2px;
  padding-right: 5px;
  text-align: center;
  box-shadow: 1px 2px 9px rgba(0, 0, 0, 0.095);
  cursor: pointer;
}
.agent-filter-sort:hover{
  background-color: #f1f1f1;
  border-color: #f1f1f1;
  font-weight: 600;
}
.agent-filter-sort2:hover{
  background-color: #f1f1f1;
  border-color: #f1f1f1;
  font-weight: 600;
}

/* Total number of leads */
.total-leads-container{
  max-width: 200px;
  width: 100%;
  background: #fff;
  padding: 10px 35px;
  border-radius: 30px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
  margin-bottom: 50px;
}

.totalform{
  display: inline;
  justify-content: left;
  align-items: center;
  padding: 20px;
}

.total-leads-container .total{
  font-size: 25px;
  font-weight: 600;
  position: relative;
  color: #D22B2B;
  margin-top: 25px;
}

.total-leads-container .total::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background: #D22B2B;
}

.total-leads-container .total-leads-number{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
  font-size: 74px;
  font-weight: bold;
  color: #333;
  margin-left: 10px;
  justify-content: center;
  cursor: pointer;
}

/* navbar */
nav {
  display: flex;
  align-items: center;
}
.chromagen {
  width: 200px;
  height: 120px;
  height: 15vh;
  margin-top: 18px;
}
.nar button {
  background: none;
  color: #f1f1f1;
  border: 2px solid #D22B2B;
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
  margin-left: 10px;
}
nav button:hover{
  background-color: #D22B2B;
  border-color: #D22B2B;
}
.fa-right-from-bracket{
  margin: 0 5px;
}

/* auth forms */

form.signupLG, form.loginLG {
  max-width: 460px;
  width: 100%;
  background: #272c4a;
  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
  flex-direction: column;
}

.signin-signup {
  display: flex;
  height: 65vh;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

form.loginLG, form.signupLG {
  grid-column: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Style form titles, input fields, icons, and buttons */
.user-title {
  width: 200px;
  height: 120px;
  height: 15vh;
  margin-top: 12px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}

.input-field {
  width: 290px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 10px;
  margin: 10px 0;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.input-field i, select i {
  flex: 1;
  text-align: center;
  font-size: 20px;
  color: #fff;
}

.input-field input {
  flex: 5;
  border: none;
  outline: none;
  background: none;
  font-size: 17px;
  color: #fff;
  font-weight: 600;
}

.input-field select {
  flex: 5;
  border: none;
  outline: none;
  background: none;
  font-size: 17px;
  color: #555;
  font-weight: 600;
  margin: 10px 0;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

p {
  font-size: 14px;
  color: #999;
  margin-right: 10px;
}

a {
  font-size: 14px;
  color: #D22B2B;
}

.forgot-password {
  text-align: center;
  color: #D22B2B;
}

.btn {
  width: 130px;
  height: 40px;
  background: #D22B2B;
  outline: none;
  border: 2px solid #D22B2B;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  margin: 20px 0;
  color: #f1f1f1;
  border-radius: 15px;
}

.btn:hover {
  color: #f1f1f1;
  border-color: #D22B2B;
  background: #1B1212;
}
.account-text {
  color: #D22B2B;
  margin-left: 5px;
  align-items: center;
}

/* view form */

.view {
  max-width: 500px;
  width: 100%;
  background: #f1f1f1;
  padding: 25px 45px;
  border-radius: 30px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
  flex-direction: row;
}
.view h4 {
  font-size: 25px;
  font-weight: 600;
  position: relative;
  color: #D22B2B;
  margin-top: 25px;
}
.view h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background: #D22B2B;
}
.view p {
  margin: 20px;
  font-size: 19px;
  font-weight: 60px;
  color: #555;
}
.ViewForm{
  display: flex;
  height: 60vh;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Sidebar */

/* Resuable CSS */
.sidebar .image{
  min-width: 60px;
  display: flex;
  align-items: center;
  margin-bottom: 100px;
  max-width: 60px;
}

/* Sidebar */

.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: #272c4a;
}
.sidebar header{
  position: absolute;
  margin-bottom: 685px;
}
.sidebar .image-text img{
  width: 200px;
  height: 15vh;
  position: absolute;
  margin-left: 25px;
  background: none;
}
.sidebar header .fa-chevron-right{
  position: absolute;
  top: 50%;
  right: -215px;
  transform: translateY(-50%);
  height: 30px;
  width: 32px;
  background: #D22B2B;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #f1f1f1;
  font-size: 18px;
  margin-top: 4px;
}

.sidebar .menu{
  margin-bottom: 80px;
  margin-left: 30px;
}
.sidebar .menu .item{
  display: flex;
  gap: 20px;
  cursor: pointer;
  margin-bottom: 15px;
}
.sidebar .menu .item .signout{
  background: none;
  color: #f1f1f1;
  border: 2px solid #D22B2B;
  padding: 5px 9px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 16px;
  gap: 25px;
  margin-top: 10px;
}
.sidebar .menu i{
  color: #D22B2B;
  transition: all 0.3s ease;
  font-size: 24px;
}
.sidebar .menu .signout i{
  color: #f1f1f1;
  transition: all 0.3s ease;
  font-size: 24px;
}
.sidebar .menu a{
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 19px;
  color: #f1f1f1;
  position: relative;
  transition: all 0.3s ease;
  text-decoration: none;
}
.sidebar .menu a:hover{
  color: #D22B2B;
  border-color: #f1f1f1;
  font-weight: 600;
}
.sidebar .menu .item .signout:hover{
  background-color: #D22B2B;
  border-color: #D22B2B;
}

